{% load static %}
<head>

    <meta charset="UTF-8">
    <title>Dot Developers</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <header>
        <div class="logo-section">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/dot.png' %}" alt="dot" class="logo">
            </a>
        </div>

        <nav class="navigation">
            <a href="{% url 'home' %}" class="cta-button">Home</a>
            <a href="{% url 'explore_services' %}" class="cta-button">Services</a>
            <a href="{% url 'explore_products' %}" class="cta-button">Products</a>
            <a href="{% url 'projects' %}" class="cta-button">Projects</a>
            <a href="{% url 'designs' %}" class="cta-button">Designs</a>


        </nav>
    </header>
</head>
<body><center>

</center>
    <main>
        <!-- Main content specific to index.html -->
        {% block main_content %}
        {% endblock %}
    </main>
</body>


<footer id="contact">
   <a href="{% url 'about_us' %}" class="cta-button">About</a>
    &copy; 2023 Dot Developers. All rights reserved.
</footer>